<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Auth Connect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Auth Connect</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!(authenticationChange$ | async)">
    <ion-button (click)="loginClicked()">Login</ion-button>
  </div>

  <div *ngIf="(authenticationChange$ | async)">
    <ion-button (click)="logoutClicked()">Logout</ion-button>
    <div>
      <div>Currently logged in as: {{(tokenData$ | async)?.name}}</div>
      <ion-button (click)="refreshClicked()">Refresh</ion-button>
    </div>
  </div>
</ion-content>
